@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital@0;1&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background-color-main: #f2eded;
  --bg-white: #fff;
  --bg-black: rgb(188, 179, 179);
  --text-color-main: #038555;
  --text-color-secondary: #0ab878;
  --text-color-tertiary: #747e04;
  --text-color-white: #ffffff;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color-main);
  font-weight: 400;
}
